x-posts-search-form > form {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;

    div {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 0.25rem;
    }

    input, select {
        color: var(--color-foreground);
        background-color: var(--color-background);
    }
}

@media only screen and (min-width: 720px) {
    x-posts-search-form > form {
        grid-template-columns: 50% 50%;

        #post-search-text {
            grid-column: 1 / span 3;
        }
    }
}