/* Tags can be both <a> and <button> elements, so we cover both bases. */
.post-tag, .post-tag:link, .post-tag:visited {
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;

    color: var(--color-background);

    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;

    border: none;

    transition-duration: 0.25s;
    transition-property: background-color;
    transition-timing-function: ease;
}

/* Normal */
.post-tag:nth-of-type(5n+1) {
    background-color: #6BA4FF;
}

.post-tag:nth-of-type(5n+2) {
    background-color: #9E65ED;
}

.post-tag:nth-of-type(5n+3) {
    background-color: #FF3F92;
}

.post-tag:nth-of-type(5n+4) {
    background-color: #F97D44;
}

.post-tag:nth-of-type(5n+5) {
    background-color: #46ce21;
}

@media only screen and (hover: hover) {
    .post-tag:hover {
        cursor: pointer;
    }

    .post-tag:nth-of-type(5n+1):hover {
        background-color: #5a8ad7;
    }

    .post-tag:nth-of-type(5n+2):hover {
        background-color: #8253c4;
    }

    .post-tag:nth-of-type(5n+3):hover {
        background-color: #d03377;
    }

    .post-tag:nth-of-type(5n+4):hover {
        background-color: #d06838;
    }

    .post-tag:nth-of-type(5n+5):hover {
        background-color: #36a019;
    }
}

@media (prefers-color-scheme: dark) {
    .post-tag {
        color: var(--color-foreground);
    }
}

@media only print {
    .post-tag {
        display: none;
    }
}