<h1>Introduction</h1>
<p>
  Welcome to my personal site. Here you will find documentation for
  <a href="https://github.com/Valkryst" target="_blank">some of my projects</a> along with essays, technical articles,
  and thought pieces covering a variety of topics
</p>
<p>
  Feel free to reach out in the comment sections, or to <a href="mailto:admin@valkryst.com">email me</a> directly, if
  you have comments, questions, suggestions, or would like to collaborate on a project.
</p>