nav {
  z-index: var(--z-index-navigation);

  position: fixed;

  display: grid;
  grid-auto-rows: 100%;

  height: var(--navigation-height);
  width: 100%;

  font-size: 16px;

  color: var(--color-background);
  background-color: var(--color-foreground);

  a {
    font-size: x-large;
    line-height: 3rem;
    text-decoration: none;

    cursor: pointer;

    img {
      height: 1.5rem;
      transform: translate(50%, 25%);
    }

    p {
      padding: 0 1rem 0 1rem;
      display: inline;
    }
  }

  a:link, a:visited {
    color: var(--color-background);
    background-color: var(--color-foreground);
  }

  a:hover {
    background-color: var(--color-accent);
  }

  section:first-of-type {
    position: fixed;
    top: var(--navigation-height);

    display: grid;

    width: 100%;

    a {
      display: none;
    }
  }
}

nav > a:first-of-type {
  width: 3rem;
  line-height: 3rem;
}

@media only screen and (min-width: 500px) {
  nav > section:first-of-type {
    width: auto;
  }
}

@media only screen and (min-width: 1080px) {
  nav > a > p {
    padding: 0 1.25rem 0 1.25rem;
  }

  nav > a:first-of-type {
    line-height: 4rem;

    img {
      height: 2rem;
      transform: translate(25%, 0%);
    }
  }
}

@media only screen and (hover: hover) {
  nav {
    a {
      transition-duration: 0.125s;
      transition-property: background-color, border-color;
      transition-timing-function: ease;
    }
  }
}

@media print {
  nav {
    display: none;
  }
}
