<% content_for(:title, 'Categories') %>

<div id='categories-index'>
  <h1>Categories</h1>

  <% @categories.each do |category| %>
    <section class="category-listing">
      <h2><%= link_to(category.title, posts_path(category: category.title)) %></h2>

      <p class="category-description"><%= category.description %></p>

      <%= link_to('View All Posts', posts_path(category: category.title)) %>
    </section>
  <% end %>
</div>